{%extends 'base.html'%}
{%block content%}
    <div class="px-3 py-5">
        {% if erreur %}
        <p>Error : {{erreur}}</p>
        {% endif %}
        <form method="POST" action="{{url_for('login')}}">
            <div>
                <input name="user" type = "text" placeholder="Username" class="flex justify-self-center my-3">
            </div>
            <div>
                <input name="password" type = "password" placeholder="Password" class="flex justify-self-center my-3">
            </div>
            <div>
                <button type="submit" class="flex justify-self-center my-3">Log In</button>
            </div>
        </form>
    </div>
{%endblock%}